GITHUB_TOKEN=ghp_xxx
GITHUB_REPO=aliqasalsabilla5-lang/MEMBERVIP
LICENSE_FILE_PATH=PHOENIXALPHA
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=key-service-role
EXNESS_LOGIN=email-partner-kamu
EXNESS_PASSWORD=password-partner-kamu
ADMIN_PASSWORD=password-admin
ADMIN_SESSION_SECRET=string-acak-panjang
CRON_SECRET=string-acak
